* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

.container1 {
  border: 0.3rem solid black;
  display: flex;
  flex-direction: row;
}

.container2 {
  border: 0.3rem solid black;
  display: flex;
  flex-direction: row-reverse;
}

.container3 {
  border: 0.3rem solid black;
  display: flex;
  justify-content: center;
}

.container4 {
  border: 0.3rem solid black;
  display: flex;
  justify-content: space-between;
}

.container5 {
  border: 0.3rem solid black;
  display: flex;
  justify-content: space-around;
}

.container6 {
  border: 0.3rem solid black;
  display: flex;
  justify-content: space-evenly;
}

.box {
  width: 10rem;
  height: 10rem;
}

.box1 {
  background-color: gold;
  
}

.box2 {
  background-color: aqua;
}
.box3 {
  background-color: red;
}
.box4 {
  background-color: green;
}
.box5 {
  background-color: violet;
}
.box6 {
  background-color: blue;
}